<!DOCTYPE html>
<html manifest="app.appcache">
    <head>
        <title>Generate Passphrase | genpassphra.se</title>
        <link href="//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container" id="app">
            <div class="content">
                <h1 class="hedding">Passphrases:</h1>
                <div class="passphrases">
                    <div class="passphrase" v-for="passphrase in passphrases" @click="selectAndCopyPassphrase">{{ passphrase }}</div>
                </div>
                <div class="form">
                    <div class="form-element">
                        <div class="wrapper-dropdown-2" v-bind:class="dropDownCSS" @click="dropDownActivate">
                            <span>{{ dropDown.placeholder }}</span>
                            <ul class="dropdown">
                                <li v-for="n in 10" v-bind:style="dropDownOptionsCSS" @click="dropDownSelection">{{ n }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-element">
                        <button id="getPassphrases" @click="generatePassphrase">Get New Passphrase</button>
                    </div>
                </div>
            </div>
            <div class="notifyjs-corner" style="top: 0px; right: 0px;">
                <transition-group name="fade">
                    <div v-for="notification in notify.notifcations" :key="notification.key" v-html="notification.notification"></div>
                </transition-group>
            </div>
        </div>
        <script src="assets/js/vue.min.js"></script>
        <script src="assets/js/vue-resource.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
